/*blue: #9C1B1F
red: #1A3868
violet: #8E24AA
light violet: #0A2463*/

* {
    box-sizing: border-box;
    transition: 0.2s;
}

html, body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    height: 100px;
}

    #logo {
        position: absolute;
        top: 25px;
        left: 20px;
    }

    nav ul {
        display: none;
        height: auto;
        padding: 0;
        position: absolute;
        top: 100px;
        width: 100vw;
        z-index: 5;
    }

        nav ul li {
            list-style-type: none;
            display: block;
            width: 100%;
            float: left;
            margin: 0;
            background-color: white;
        }

            nav ul li a {
                display: block;
                width: 100%;
                margin: 0 auto;
                text-align: center;
                padding: 20px;
                color:black;
            }

            nav ul li a:hover {
                color: #1A3868;
                font-weight: 700;
                text-decoration: none;
            }


    nav a#pull {
        display: block;
        height: inherit;
        float: right;
        margin-right: 20px;
    }

    #pull i {
        margin-top: 30px;
    }

.lgv_newsbox{
    padding-bottom: 40px;
    border-bottom: 1px solid silver;
}

.lgv_ads {
    height: 300px;
    overflow: hidden;
}

.lgv_recentEvents__list {
    width: 100%;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

.lgv_recentEvents__item {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #000;
}

    .lgv_recentEvents__item a{
        color: #000000;
    }

.lgv_recentEvents__item:last-child {
    border: 0;
}

.lgv_links__item {
    padding: 0.5em 1em;
    border: 0;
    margin-left: 0;
}

footer {
    margin-top: 80px;
    background-color: black;
    /*height: 120px;*/
    padding: 20px 0;
    color: white;
}
    footer .container {
        width: 95%;
        margin: 0 auto;
    }
    footer p {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
    }


@media( min-width: 850px ){
    nav a#pull {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100px;
        width: 100%;
        float: right;
        top: 0;
    }
    nav ul li {
        height: inherit;
        width: auto;
    }
    
    nav ul li a {
        display: inline-table;
        height: inherit;
        width: auto;
    }

    nav ul li:last-child {
        padding-right: 40px;
    }

    nav ul  li a span {
        display: table-cell;
        vertical-align: middle;
    }
}

@media( min-width: 992px ){
    .lgv_newsbox {
        border-bottom: 0;
    }

    .lgv_recentEvents__list {
        margin-top: 0px;
    }

    .lgv_recentEvents__item:first-child {
        padding-top: 0;
    }

    .lgv_recentEvents__item:first-child h3 {
        margin-top: 0px;
    }
}
    /*.lgv_newsbox, .lgv_ads {*/
        /*border-right: solid 1px black;*/
    /*}*/

/* SINGLE PAGE */
.lgv_coverPhoto {
    width: 100%;
    height: 80vh;
}

.lgv_article {
    width: 100%; margin: 80px auto;
}

.lgv_articleHead{
    text-align: center; margin-bottom: 40px;
}

.category-title {
    display: block;
    width: 100%;
    /*height: 100px;*/
    margin-top: 100px;
    padding: 30px;
    background-color: #7B1FA2;
    color: white;
}

.card {
    box-shadow:0 1px 2px #aaa;
    padding: 2rem;
    border-radius:3px;
    margin-bottom: 40px;
}

.downloadItem {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: solid 1px silver;
}

    .downloadItem:last-child {
        border: 0;
    }

    .downloadItem article {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 40px;
    }

.imageList__item {
    display: block; width: 100%; margin: 40px auto; padding-bottom: 40px; border-bottom: solid 1px silver;
}

    .imageList__item:last-child {
        border: 0;
    }


@media( min-width: 769px ){

    .lgv_article {
        width: 80%; margin: 80px auto;
    }

    .lgv_articleHead{
        text-align: center; margin-bottom: 40px;
    }
}


/* HELPER CLASSES */
.no-list-style {
    list-style-type: none;
}

.no-list-style-pull {
    -webkit-margin-start: -20px;
    -moz-margin-start: -20px;
}